/* Whole page */
body {
  background-color: #7b0000;
  display: flex;
  flex-direction: column;   /* stack vertically */
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 40px 0;
  gap: 30px;   /* space between boxes */
}
/* White box */
.card {
  background-color: white;
  color: black;
  padding: 40px;
  border-radius: 15px;
  width: 500px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* Title */
h1 {
  margin-bottom: 20px;
  color: #b30000;
}

/* Text */
p {
  font-size: 24px;
  margin: 10px 0;
}

